*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
	background: #000;
	margin: 0;
    position: relative;
    
}

canvas {
	cursor: crosshair;
	display: block;
}
p {
    position: absolute;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: red;
    transform: translate(500px, -500px);
}

h1 {
    position: absolute;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    transform: translate(480px, -400px);
}

.countdown {
    transform: translate(530px, -600px);
    color: white;
}